@model List<Model.Customer>
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Customer List</h2>
    <table class="table">
        <tr>
            <td>Codigo</td>
            <td>Contacto</td>
            <td>Cargo</td>
            <td>Ciudad</td>
            <td>Region</td>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.id</td>
                <td>@p.nameC</td>
                <td>@p.cargoC</td>
                <td>@p.city</td>
                <td>@p.region</td>
            </tr>
        }
    </table>
</body>
</html>
<h2>Customer List</h2>

